{% extends 'core/base.html' %}


{% block title %}
    <title>Index</title>
{% endblock title %}

{% block content %}



<div>
    
    <div>
        {% for i in queryset %}
            <p>
                <a href="{% url 'Course-Details' i.id %}" >{{i.name}} - ${{i.price}}</a>
                <a href="{% url 'Confirm-Course-Delete' i.id %}" >Delete</a>
                <a href="{% url 'Course-Update' i.id %}" >Update</a>
            </p>
        {% endfor %}
    </div>


    {% comment %} <form action="" method='post'>
        <label for="fname">Name:</label><br>
        <input type="text" id="fname" name="fname" value=""><br>
        <label for="lname">Price:</label><br>
        <input type="text" id="lname" name="lname" value=""><br><br>
        <input type="submit" value="Submit">
      </form>  {% endcomment %}


      {% comment %} <form method='post'>
        {% csrf_token %}

        {{course_form.as_p}}
        <input type="submit" value="Submit">
      </form> {% endcomment %}


      <hr>

      <form method='post'>
        {% csrf_token %}

        {{course_model_form.as_p}}
        <input type="submit" value="Submit">
      </form>

    <!-- {% if i in queryset %}
        {% endif %} -->
    </div>
{% endblock content %}

